/* 
********
TYPOGRAPHY
********
*/

body,
h1,
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

header ul.header-icons li,
.notification-bar .notification-icon {
  font-size: 1.4rem;
}

header ul.header-icons li {
  color: var(--font-secondary);
}

.notification-bar .notification-icon {
  color: var(--bg-notifications);
}

.secondary-text {
  font-size: .75rem;
  color: var(--font-tertiary);
}

.notification-bar .notification-details a {
  font-size: .875rem;
  color: var(--font-tertiary);
}