/* 
********
CHAT
********
*/

main {
  flex-grow: 1;
  flex-direction: column;
  border-left: 1px solid #D6D6D6;
}

main > footer {
  background-color: var(--bg-chat-footer);
  flex-shrink: 0;
}

#new-message-bar {
  align-self: stretch;
  flex-grow: 1;
  border: none;
  margin: 10px 0;
  padding: 0 16px;
  border-radius: 5px;
}

.emoji,
.audio-message {
  padding: 0 37px;
}

.chat-window {
  flex-grow: 1;
  background-image: url(../../img/mine.jpg);
  padding: 55px 0;
  flex-direction: column;
  overflow-y: scroll;
}

.chat-list {
  flex-direction: column;
  min-width: 80%;
  max-width: 90%;
}

.msg {
  border-radius: 10px;
  min-width: 300px;
  max-width: 50%;
  margin-bottom: 10px;
  word-break: break-all;
  overflow-wrap: break-word;
  position: relative;
}

.sent {
  background-color: var(--bg-msg-sent);
  align-self: flex-end;
}

.received {
  background-color: var(--bg-msg-received);
  align-self: flex-start;
}

.msg .msg-text {
  padding: 15px 17px 5px;
}

.msg .msg-time {
  padding: 0 5px 5px;
}

.dropdown-angle {
  position: absolute;
  right: 8px;
  top: 4px;
  color: var(--font-secondary);
  font-size: 1.2rem;
  opacity: 0;
}

.dropdown-angle:hover {
  opacity: 1;
}