/* 
********
VARIABLES
********
*/

:root {
  --bg-upper: #009688; 
  --bg-lower: #DBDBD3; 
  --bg-header: #EAEAEA; 
  --bg-chat-footer: #F3EEEA; 
  --bg-nav: #FFFFFF;
  --bg-notifications: #8EDAFC;
  --bg-searchbar-container: #FAFAFA;
  --bg-msg-sent: #D5F9BA;
  --bg-msg-received: #FFFFFF;
  --bg-dropdown: #FFFFFF;
  --font-primary: #000000;
  --font-secondary: #B1B1B1;
  --font-tertiary: #6B7376;
  --font-new-msg-icons: #6B7376;
  --container-vertical-gap: 24px;
  --dark-mode-primary: #202E37;
  --dark-mode-secondary: #152835;
  --dark-mode-bg-upper: #03483E;
  --dark-mode-bg-lower: #525252;
  --dark-mode-bg-header: #202E37;
  --dark-mode-font-primary: #FFFFFF;
  --dark-mode-bg-notifications: #01293c;
  --dark-mode-bg-input: #2E3A3D;
  --dark-mode-bg-msg-sent: #03483E;
  --dark-mode-bg-msg-received: #202E37;
}